header.header
    .header-container
        .flex-xl-center-end.d-none 
            ul.menutop
                each val in ['Covid-19','Policies','Case Evaluation']
                    li.menutop-item 
                        a.menutop-link(href="#")=val
            .topblock-green
        a.btn-phone.d-xl-none.flex-center-between.bg-green
            span.fs-10.text-up.l-t-4 Free case consultation
            span.align-items-center.fw-bold.fs-14
                +icon("phone")
                |800 604 0466
    
    .header-container.header-main
        .flex-center-between 
            a.logo(href="#")
                img(src="img/logo/logo.svg", alt="logo")
            .align-items-center
                nav.navmenu 
                    ul.menu 
                        each val, index in ['Home','Practice Areas','About Us','Attorneys','News','Contact Us']
                            li.menu-item(class=index==0 ? 'active': '')
                                if (index==1)
                                    .menu-link=val
                                        +icon("arrow-down")
                                    ul.menu-dropdown
                                        each val in [{icon: 'credit', title: 'Credit Reporting Errors'},{icon: 'checkerrow', title: 'Background Check Errors'},{icon: 'identity', title: 'Identity Theft'},{icon: 'debt', title: 'Debt Collection Harassment and Abuse'},{icon: 'telemarketer', title: 'Telemarketer Harassment'},{icon: 'bankruptcy', title: 'Bankruptcy'},{icon: 'consumer', title: 'Consumer Finance Litigation'},{icon: 'class', title: 'Class Actions'},{icon: 'injury', title: 'Personal Injury'},{icon: 'disabilities', title: 'Americans with Disabilities Act'}]
                                            li.menu-dropdown-item
                                                a.align-items-center(href="#") 
                                                    .circle 
                                                        +icon(val.icon)
                                                    =val.title
                                                
                                else if (index==2)
                                    .menu-link=val
                                        +icon("arrow-down")
                                    ul.menu-dropdown
                                        each val in ['About','Why Choose Us','Testimonials']
                                            li.menu-dropdown-item
                                                a.align-items-center(href="#")=val 
                                else 
                                    a.menu-link(href="#")=val
                    
                    ul.menutop.d-lg-none
                        each val in ['Covid-19','Policies','Case Evaluation']
                            li.menutop-item 
                                a.menutop-link(href="#")=val

                a.btn-phone.d-xl-block.d-none(href="tel:8006040466")     
                    span.fs-10.text-up.l-t-4 Free case consultation 
                    span.align-items-center.fw-bold 
                        +icon("phone")
                        |800 604 0466
            button.burger(type="button")
                span.burger-line.burger-line-top
                span.burger-line.burger-line-center
                span.burger-line.burger-line-bottom
            