mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="img/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="img/sprite/symbol/sprite.svg#" + name)

mixin breadcrumbs-item(text,href)
	li.breadcrumbs__item
		if(href)
			a.breadcrumbs__link(href=href)
				span=text
			+icon("arrow-right","ml-auto")
		else
			span.breadcrumbs__text=text

mixin cardArticle(title,text,img,date)
	.card-articles 
		a(href="#")
			img(src="img/common/"+ img, alt="image")
		.card-articles_content 
			.flex-center-between.mb-16 
				.align-items-center 
					+icon("calendar","mr-12")
					p.fs-12.c-gray-200= date
				hr.line-basis.mx-12 
				a.slider-btn.ml-auto(href="#")
					+icon("arrow-right")
			a.fs-24.mb-20(href="#")= title
			p.text.fs-14= text
mixin cardTeam(img,name,specialty,text)
	.card-team 
		.card-team_img.relative.z-2 
			.w-100
				img(src="img/common/"+img, alt="image")
		.card-team_bottom 
			p.fs-24.mb-12=name
			.text=specialty
			a.align-items-center.card-team_see(href="#") 
				span.c-green.fs-14.mr-12 See profile
				span.card-team_circle
					+icon("arrow-right")
		.card-team_hover 
			div
				p.fs-24.c-white.mb-24=name
				p.fs-14.c-white=text 
mixin pagination(adjacents, numPages, display, currentPage, base, arrow)
	- adjacents = (adjacents || 1) * 1;
	- numPages = (numPages || 10) * 1;
	- currentPage = (currentPage || 1) * 1;
	- base = base || '#';
	- display = (display || 7) * 1;

	nav.pagination.flex-center-between
		if (arrows === arrows)
			a.disabled(href="#" title="Prev page")
				+icon("arrow-left", "mr-16")
				span.d-lg-block.d-none Previous page
		ul.align-items-center
			if numPages < display + adjacents * 2
				- var p = 1;
				while p <= numPages
					if currentPage == p
						li.active
							a(href=base + p)
								| #{p}
					else
						li.page
							a(href=base + p)
								| #{p}
					- p++;
			else if numPages >= 7 + adjacents * 2
				if currentPage < 1 + adjacents * 3
					- var p = 1;
					while p < display - 3 + adjacents * 2
						if currentPage == p
							li.active
								a(href=base + p)
									| #{p}
						else
							li.page
								a(href=base + p)
									| #{p}
						- p++;
					li.page
						a(href="#")
							| &hellip;
					li.page
						a(href=base + numPages)
							| #{numPages}
				else if numPages - adjacents * 2 > currentPage && currentPage > adjacents * 2
					li.page
						a(href=base + 1)
							| 1
					li.page
						a(href=base + 2)
							| 2
					li.page
						a(href="#")
							| &hellip;
					- var p = currentPage - adjacents;
					while p <= currentPage + adjacents
						if currentPage == p
							li.active
								a(href=base + p)
									| #{p}
						else
							li.page
								a(href=base + p)
									| #{p}
						- p++;
					li.page
						a(href="#")
							| &hellip;
					li.page
						a(href=base + (numPages - 1))
							| #{numPages - 1}
					li.page
						a(href=base + numPages)
							| #{numPages}
				else
					li.page
						a(href=base + 1)
							| 1
					li.page
						a(href=base + 2)
							| 2
					li.page
						a(href="#")
							| &hellip;
					- var p = numPages - (1 + (adjacents * 3));
					while p <= numPages
						if currentPage == p
							li.active
								a(href=base + p)
									| #{p}
						else
							li.page
								a(href=base + p)
									| #{p}
					- p++;
		if (arrows === arrows)
			a(href="#" title="Next page")
				span.d-lg-block.d-none Next page
				+icon("arrow-right","ml-16")